.container{
    width: 900px;
}

.btn-info{
    color: black;
    background-color: orangered;
}

.btn-info:hover{
    background-color: black;
    color: orangered;
}

a{
    color: inherit;
}

a:hover{
    color: inherit;
}

.justify{
    text-align: justify;
    text-align-last: center;
}

#map {
    width: 900px;
    height: 700px;
}

.padding15px{
    padding: 15px;
}

.padding30px{
    padding: 30px;
}

.center{
    margin: auto;
}

.center-text{
    text-align: center;
}

#icone{
    width: 50px;
    display: inline-block;
}

h2{
    font-weight: 700;
}

.panel-body{
    font-family: Calibri;
    font-weight: 300;
    margin: auto;
}

/* estilo do tooltip de cada cursinho no mapa */

.leaflet-tooltip.cursinho{
    background-color: rgb(97, 0, 0);
    color: rgb(250, 208, 208);
    font-weight: 300;
    padding: 4px;
    overflow-wrap: break-word;
}

/* telas de celulares */
@media only screen and (max-width:900px){
    .container{
        width: 550px;
    }

    #map {
        width: 550px;
        height: 650px;
    }

}
